.category{
    position: fixed;
    height: 50px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    margin-top: 60px;
    margin-left: 80px;
    background: white ;
    width: 100%;
    z-index: 1;
}

.category-button{
    height: 35px;
    padding: 2px 16px 2px 16px;
    min-width: fit-content;
    margin-right: 10px;
    border-radius: 7px;
    border: none;
    background: #f0f0f0;
    font-weight: 600;
    font-size: .8em;
    color: rgb(75, 75, 75);
    cursor: pointer;
}

.category-button:hover{
    background: #fff7f7;
}